.submitButton {
  color: #fff;
  background-color: #222;
  padding: 8px;
  border: solid 1px white;
  border-radius: 5px;
}

.inputField {
  padding: 5px 8px;
  border: solid 1px #717171;
  border-radius: 2px;
}

.row {
  font-size: 14px;
  padding-bottom: 10px;
  display: inline-block;
}

.contactForm {
    text-align: center;

}

.contactFormWrapper {
  margin-top: 20px;
}
